<?xml version="1.0" encoding="UTF-8"?>
<!--
项目运行时配置
-->
<railgun>
    <name>railgun</name>
    <description>railgun</description>
    <siteurl>*</siteurl>
    <cookie>enable</cookie>
    <encoding>utf8</encoding>
        <fetch>
            <url>http://www.baidu.com/</url>
            <param>
                <key>User-Agent</key>
                <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:2.0.1) Gecko/20100101 Firefox/4.0.1</value>
            </param>
            <cookies>
                <key>a</key>
                <value>b</value>
            </cookies>
        </fetch>
        <filter>net.techest.testFilter</filter>
        <parse method="dom" rule="#content div">
            <parse method="regxp" rule="imgsrc.*?='([\s\S]*?)'">
                <fetch>
                    <url>http://www.baidu.com/</url>
                    <store>APP_ROOT/tmp</store>
                </fetch>
            </parse>
        </parse>
</railgun>