<?xml version="1.0" encoding="UTF-8"?>
<!--
项目运行时配置
-->
<name>railgun</name>
<siteurl>*</siteurl>
<cookie>enable</cookie>
<fetch>
    <url>http://www.zhaokunyao.com/</url>
    <filter>net.techest.testFilter</filter>
    <parse method="dom" rule="#content div">
        <parse method="regxp" rule="imgsrc.*?='([\s\S]*?)'">
            <fetch>
                <url>$1</url>
                <store>APP_ROOT/tmp</store>
            </fetch>
        </parse>
    </parse>
</fetch>